.username {
  font-weight: bold;
  width: 15%;
  text-align: right;
}

.message {
  width: 65%;
  text-align: left;
}

.action {
  width: 10%;
}

.post {
  width: 20%;
  text-align: center;
  font-size: 9pt;
}